* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Lusitana';
}

:root {
    --primary-color: #161616;
    --secondary-color: #d3d3d3;
    --tertiary-color: #474747;
    --quaternary-color: #fefefe;

    background-color: var(--secondary-color);
    color: var(--secondary-color);
}

:root, html, body, main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

nav#contact-info {
    display: flex;
    position: sticky;
    padding-block-start: 1em;
    padding-block-end: 0.5em;
    padding-inline: 1em;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-block-end: 1px solid var(--quaternary-color);
}

nav#contact-info button {
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 2em;
}

nav#contact-info button:hover {
    background-color: var(--tertiary-color);
}

nav#contact-info > header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

nav#contact-info > header > section > p#contact-status > i.online {
    color: green;
}

ul#view-messages {
    padding-block-start: 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

ul#view-messages > li {
    margin-block-end: 1.25em;
    display: flex;
    flex-direction: row;
    margin-inline: 0.2em;
}

ul#view-messages > li.sended, ul#view-messages li.sended > div > footer {
    justify-content: flex-end;
}

ul#view-messages > li.info-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-end: 0;
    margin-block-end: 1em;
}

ul#view-messages > li.info-message > p {
    padding: 0.2em;
    min-inline-size: 5em;
    border-radius: 0.5em;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    text-transform: capitalize;
}

ul#view-messages > li > div {
    display: flex;
    flex-direction: column;
    max-inline-size: 70%;
}

ul#view-messages > li.text-message > div > p {
    margin-block-end: 0.1em;
    border-radius: 1em;
    padding: 0.5em;
}

ul#view-messages > li.view-once-photo > div > p {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

ul#view-messages > li.view-once-photo > div > p > button {
    border: none;
    font-size: 1em;
    color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 1em;
}

ul#view-messages > li.view-once-photo > div > p > i {
    padding: 0.25em;
    border-radius: 2em;
    color: var(--primary-color);
}

ul#view-messages>li.view-once-photo>div>p>i:hover {
    background-color: var(--quaternary-color);
}

ul#view-messages > li.view-once-photo.received > div > p > i {
    order: 3;
}

ul#view-messages > li.text-message.sended  > div > p, ul#view-messages > li.view-once-photo.sended > div > p > button {
    background-color: var(--tertiary-color);
}

ul#view-messages > li.text-message.received > div > p, ul#view-messages > li.view-once-photo.received > div > p > button {
    background-color: var(--primary-color);
}

ul#view-messages > li > div > footer {
    display: flex;
    flex-direction: row;
    padding-inline: 0.5em;
    justify-content: flex-start;
}

ul#view-messages > li > div > footer > small.message-status {
    color: var(--tertiary-color);
    text-transform: uppercase;
}

footer#send-message {
    position: sticky;
    padding-block-start: 0.25em;
}

footer#send-message > form {
    display: flex;
    justify-content: space-between;
    gap: 0.2em;
    margin-inline: 0.2em;
    margin-block-end: 0.4em;
}

footer#send-message > form > * {
    border: none;
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 2em;
}

footer#send-message > form > p {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex: 1;
    gap: 1em;
}

footer#send-message > form > p > input#send-message-input {
    flex: 1;
    border: none;
}

footer#send-message > form > p > input#send-message-input:focus {
    outline: none;
}

footer#send-message > form > input#send-message-input::placeholder {
    color: var(--primary-color);
}

footer#send-message > form > p > button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

footer#send-message > form > p > button:hover {
    color: var(--tertiary-color);
}

footer#send-message > form > button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer#send-message > form > button:hover {
    background-color: var(--tertiary-color);
}
