* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Lusitana';
}

:root {
    --primary-color: #161616;
    --secondary-color: #d3d3d3;
    --tertiary-color: #474747;
    --quaternary-color: #fefefe;

    background-color: var(--secondary-color);
    color: var(--secondary-color);
}

:root, html, body, main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

nav#contact-info {
    display: flex;
    position: sticky;
    padding-block-start: 1em;
    padding-block-end: 0.5em;
    padding-inline: 1em;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

nav#contact-info button {
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

nav#contact-info button.contact-photo {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 2em;
    width: 48px;
    height: 48px;
}

nav#contact-info button.contact-photo img {
    width: 48px;
    height: 48px;
}

nav#contact-info :is(button, section):hover {
    background-color: var(--tertiary-color);
}

nav#contact-info header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

nav#contact-info header section p.contact-status i.online {
    color: green;
}

ul#view-messages {
    padding-block-start: 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

ul#view-messages li {
    padding-block-end: 1.25em;
    display: flex;
    flex-direction: row;
    margin-inline: 0.2em;
}

ul#view-messages li.sended{
    justify-content: flex-end;
}

ul#view-messages li.info-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-end: 0;
    margin-block-end: 1em;
}

ul#view-messages li.info-message p {
    padding: 0.2em;
    min-inline-size: 5em;
    border-radius: 0.5em;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    text-transform: capitalize;
}

ul#view-messages li div {
    display: flex;
    flex-direction: column;
    max-inline-size: 70%;
}

ul#view-messages li div p {
    margin-block-end: 0.1em;
    padding: 0.5em;
}

ul#view-messages li div p {
    border-radius: 1em;
}

ul#view-messages li.sended div p {
    background-color: var(--tertiary-color);
}

ul#view-messages li.received div p {
    background-color: var(--primary-color);
}

ul#view-messages li div footer {
    display: flex;
    flex-direction: row;
    padding-inline: 0.5em;
    justify-content: flex-start;
}

ul#view-messages li.sended div footer {
    justify-content: flex-end;
}

ul#view-messages li div footer small.message-status {
    color: var(--tertiary-color);
    text-transform: uppercase;
}

footer#send-message {
    position: sticky;
}

footer#send-message form {
    display: flex;
    justify-content: space-between;
    gap: 0.2em;
    margin-inline: 0.2em;
    margin-block-end: 0.4em;
}

footer#send-message form > * {
    border: none;
    padding: 0.75em;
    border-radius: 2em;
}

footer#send-message form input {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    flex: 1;
}

footer#send-message form input:focus {
    outline: none;
}

footer#send-message form input::placeholder {
    color: var(--primary-color);
}

footer#send-message form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    flex: 0;
}

footer#send-message form button:hover {
    background-color: var(--tertiary-color);
}
