* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.chat {
    margin: 32px 14px;
}

.chat .title {
    background-color: red;
}

.chat .content {
    background-color: green;
    border-radius: 50;
}

.chat .textarea {
    background-color: blue;
}