* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

aside section#contact-info {
    background-color: tomato;
    display: flex;
    padding-block-start: 1em;
    padding-block-end: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

section:is(#contact-info, #view-messages) {
    padding-inline: 1em;
}

section#view-messages {
    padding-block-start: 0.5em;
    background-color: lightgreen;
}

section#view-messages ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section#view-messages ul li {
    padding-block-end: 1.25em;
    display: flex;
    flex-direction: column;
}

section#view-messages ul li > * {
    display: flex;
    flex-direction: row;
}

section#view-messages ul li.sended > * {
    justify-content: flex-end;
}

section#view-messages ul li small.message-status {
    color: gray;
    text-transform: uppercase;
}

section#send-message {
    background-color: lightblue;
}

section#send-message form {
    display: flex;
    justify-content: space-between;
}

section#send-message form > * {
    border: 1px solid gray;
    padding: 0.75em;
    border-radius: 2em;
}

section#send-message form input {
    flex-grow: 1;
}

section#send-message form button {
    flex-grow: 0;
}